<div [ngClass]="{'fixed top-17 inset-0 bg-black/40 z-50': menuOpen}">
  <div class="fixed top-17 left-0 bottom-0 w-[290px] bg-white z-50 shadow-lg transform transition-transform duration-300 overflow-auto"
    [class.-translate-x-full]="!menuOpen">

    <div class="p-4 flex justify-between items-center">
      <span class="text-xs text-[#64BC04]">MENU</span>
    </div>

    <nav class="flex flex-col py-4 px-8 gap-4">

      <ng-container *ngFor="let module of navService.getModules()">

        <!-- Encabezado del módulo -->
        <div (click)="toggleModule(module.key)" class="flex items-center gap-[10px] cursor-pointer hover:text-[#64BC04]">
          <app-nav-icon [key]="module.iconKey" [size]="28" />
          <span class="text-sm">{{ module.label }}</span>

          <!-- Chevron -->
          <svg *ngIf="openModule !== module.key" class="ml-auto" width="16" height="9" viewBox="0 0 16 9" fill="none">
            <path d="M14.6924 0L16 1.33853L8.8734 8.62916C8.75921 8.74668 8.62342 8.83995 8.47384 8.90359C8.32426 8.96724 8.16386 9 8.00185 9C7.83985 9 7.67944 8.96724 7.52986 8.90359C7.38029 8.83995 7.24449 8.74668 7.1303 8.62916L0 1.33853L1.30763 0.00126076L8 6.84403L14.6924 0Z" fill="#64BC04"/>
          </svg>
          <svg *ngIf="openModule === module.key" class="ml-auto" width="16" height="9" viewBox="0 0 16 9" fill="none">
            <path d="M1.30763 9L0 7.66147L7.1266 0.37084C7.24079 0.253319 7.37658 0.160052 7.52616 0.0964085C7.67574 0.0327647 7.83614 0 7.99815 0C8.16015 0 8.32056 0.0327647 8.47014 0.0964085C8.61971 0.160052 8.75551 0.253319 8.8697 0.37084L16 7.66147L14.6924 8.99874L8 2.15597L1.30763 9Z" fill="#64BC04"/>
          </svg>
        </div>

        <!-- Contenido del módulo expandido -->
        <div *ngIf="openModule === module.key" class="flex flex-col gap-[10px] pl-[37px]">

          <!-- Items directos -->
          <a
            *ngFor="let item of navService.filterItems(module.items)"
            [routerLink]="item.route"
            (click)="close()"
            class="block text-sm"
          >
            {{ item.label }}
          </a>

          <!-- Grupos (ej. Configuración) -->
          <ng-container *ngFor="let group of navService.filterGroups(module.groups)">
            <div (click)="toggleGroup(group.label)" class="flex items-center text-sm cursor-pointer">
              <span>{{ group.label }}</span>
              <svg *ngIf="openGroup !== group.label" class="ml-auto" width="16" height="9" viewBox="0 0 16 9" fill="none">
                <path d="M14.6924 0L16 1.33853L8.8734 8.62916C8.75921 8.74668 8.62342 8.83995 8.47384 8.90359C8.32426 8.96724 8.16386 9 8.00185 9C7.83985 9 7.67944 8.96724 7.52986 8.90359C7.38029 8.83995 7.24449 8.74668 7.1303 8.62916L0 1.33853L1.30763 0.00126076L8 6.84403L14.6924 0Z" fill="#64BC04"/>
              </svg>
              <svg *ngIf="openGroup === group.label" class="ml-auto" width="16" height="9" viewBox="0 0 16 9" fill="none">
                <path d="M1.30763 9L0 7.66147L7.1266 0.37084C7.24079 0.253319 7.37658 0.160052 7.52616 0.0964085C7.67574 0.0327647 7.83614 0 7.99815 0C8.16015 0 8.32056 0.0327647 8.47014 0.0964085C8.61971 0.160052 8.75551 0.253319 8.8697 0.37084L16 7.66147L14.6924 8.99874L8 2.15597L1.30763 9Z" fill="#64BC04"/>
              </svg>
            </div>

            <div *ngIf="openGroup === group.label" class="flex flex-col gap-[10px] pl-[10px]">
              <a
                *ngFor="let item of group.items"
                [routerLink]="item.route"
                (click)="close()"
                class="block text-sm"
              >
                {{ item.label }}
              </a>
            </div>
          </ng-container>

        </div>

      </ng-container>

    </nav>
  </div>
</div>
