<div class="flex h-screen">
    <app-sidebar class="hidden sm:block"></app-sidebar>
    <div class="flex-1 shrink-0 overflow-hidden bg-white h-full sm:py-[20px] sm:pr-[20px] flex flex-col"
         [class.full-page-wrapper]="isFullPage()">
        <main class="flex-1 flex flex-col min-h-0 bg-[#f2f5f2] p-[20px] overflow-auto sm:pt-[0px]"
              [class.p-0]="isFullPage()" [class.overflow-hidden]="isFullPage()">
            <ng-container *ngIf="isFullPage(); else normalLayout">
                <router-outlet></router-outlet>
            </ng-container>
            <ng-template #normalLayout>
                <div class="w-full flex flex-col overflow-hidden rounded-lg h-full">
                    <app-header></app-header>
                    <div class="page-content flex-1 min-h-0 overflow-y-auto flex flex-col">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </ng-template>
        </main>
    </div>
</div>
