<div class="fondo-animado">
  <div class="capa-fondo capa-clara" [style.background]="fondoClaro"></div>
  <div class="capa-fondo capa-oscura" [style.background]="fondoOscuro"></div>

  <div class="grilla" *ngIf="burbujas.length"></div>
  <div class="barrido" *ngIf="burbujas.length"></div>

  <div
    class="blob"
    *ngFor="let b of burbujas"
    [style.top.%]="b.top"
    [style.left.%]="b.left"
    [style.width.px]="b.size"
    [style.height.px]="b.size"
    [style.animation-delay.s]="b.delay"
    [style.animation-duration.s]="b.duracion"
    [style.background]="'radial-gradient(circle at 35% 35%, ' + b.colorInterno + ', ' + b.colorExterno + ')'"
  ></div>
</div>
