<div class="amp-overlay" (click)="onBackdropClick()">
  <div class="amp-container" [class.amp-container--blue]="variant === 'blue'"
       [style.width]="width" (click)="$event.stopPropagation()">

    <div class="amp-header">
      <div class="amp-title">
        <i class="ti {{ icono }}"></i>
        {{ titulo }}
      </div>
      <button type="button" class="amp-close" (click)="closeModal.emit()" title="Cerrar">✕</button>
    </div>

    <div class="amp-body">
      <ng-content></ng-content>
    </div>

    <div class="amp-footer">
      <ng-content select="[modalFooter]"></ng-content>
    </div>

  </div>
</div>
