<div class="p-[20px] fixed inset-0 bg-black/40 z-50 overflow-y-auto">
    <div class="absolute inset-0" (click)="closeModal($event, 0)">
    </div>
    <div class="min-h-screen flex items-center justify-center py-10">
        <div class="bg-white w-[500px] rounded-xl shadow-xl animate-modal-in relative"
            (click)="$event.stopPropagation()">
            <div class="p-[20px] flex flex-col gap-[20px] items-center">
                <h1 class="text-2xl text-center">AGREGAR INCIDENCIA</h1>

                <div class="w-full">
                    <p class="text-[#64BC04] text-lg">Proyecto</p>
                    <select [(ngModel)]="createDto.projectId"
                        class="w-full pl-[15px] pr-[25px] py-[6px] border border-[#D6DEE5] rounded-xl select-wrapper cursor-pointer">
                        <option [ngValue]="0">Todos los proyectos</option>
                        <option *ngFor="let item of projects" [ngValue]="item.projectId">{{item.projectDescription}}</option>
                    </select>
                </div>

                <app-image-selector *ngIf="previews.length < maxImages" class="w-full" (imageSelected)="onImageSelected($event)">
                </app-image-selector>

                <p *ngIf="previews.length < maxImages">o</p>

                <button *ngIf="previews.length < maxImages" (click)="openCamera()" class="flex items-center gap-[10px] bg-[#E5F7D1] py-[5px] px-[20px] rounded-lg border border-[#64BC04] text-[#64BC04] cursor-pointer">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12 16C13.6569 16 15 14.6569 15 13C15 11.3431 13.6569 10 12 10C10.3431 10 9 11.3431 9 13C9 14.6569 10.3431 16 12 16Z"
                            stroke="#64BC04" stroke-width="1.5" />
                        <path
                            d="M9.778 21H14.222C17.343 21 18.904 21 20.025 20.265C20.5088 19.9482 20.9254 19.5391 21.251 19.061C22 17.961 22 16.428 22 13.364C22 10.3 22 8.76705 21.251 7.66705C20.9254 7.18904 20.5088 6.77991 20.025 6.46305C19.305 5.99005 18.403 5.82105 17.022 5.76105C16.363 5.76105 15.796 5.27105 15.667 4.63605C15.5684 4.17092 15.3123 3.75408 14.9418 3.456C14.5714 3.15791 14.1095 2.99686 13.634 3.00005H10.366C9.378 3.00005 8.527 3.68505 8.333 4.63605C8.204 5.27105 7.637 5.76105 6.978 5.76105C5.598 5.82105 4.696 5.99105 3.975 6.46305C3.49154 6.78001 3.07527 7.18914 2.75 7.66705C2 8.76705 2 10.299 2 13.364C2 16.429 2 17.96 2.749 19.061C3.073 19.537 3.489 19.946 3.975 20.265C5.096 21 6.657 21 9.778 21Z"
                            stroke="#64BC04" stroke-width="1.5" />
                        <path d="M19 10H18" stroke="#64BC04" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                
                    <p class="text-lg">Abre la cámara</p>
                </button>

                <app-image-preview *ngIf="previews.length > 0" [previews]="previews" (remove)="removeImage($event)">
                </app-image-preview>

                <app-camera-web *ngIf="showCamera" (close)="showCamera = false" (photoTaken)="onPhotoTaken($event)">
                </app-camera-web>

                <div class="flex justify-between w-full">
                    <div class="flex flex-col w-full">
                        <p class="text-[#64BC04]">Descripción</p>
                        <textarea [(ngModel)]="createDto.residentReportIncidenceDescription"
                            class="border border-[#E2E2E2] rounded-lg p-[10px]" ></textarea>
                    </div>
                </div>
                <button (click)="saveResidentReportIncidence()" class="w-[120px] bg-[#64BC04] py-[5px] rounded-[10px] cursor-pointer">
                    <p class="text-[#ffffff] text-lg">Guardar</p>
                </button>
            </div>
            <button class="absolute top-6 right-6 cursor-pointer" (click)="closeModal($event, 1)">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 20L4 4M20 4L4 20" stroke="#64BC04" stroke-width="2" stroke-linecap="round" />
                </svg>
            </button>
        </div>
    </div>
</div>